/** BASIC */

body {
	margin: 0px;
	padding: 0px;
	font: normal small Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	color: #191970;
}

a {
	color: #191970;
}

a:hover {
	text-decoration: none;
}

/** HEADER */

#header {
	padding: 1em;
	background: #E6E6FA;
	border-bottom: 2px solid #191970;
}

#header h1 {
	margin: 0px;
	padding: 0px;
	text-align: center;
	font-weight: bold;
	letter-spacing: .2em;
	color: #191970;
}

#header h2 {
	margin: 0px;
	padding: 0px;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	letter-spacing: .2em;
	color: #191970;
}

/** MENU */

#menu {
	padding: .3em;
	background: #ADD8E6;
	border-bottom: 2px solid #191970;
	text-align: center;
}

#menu ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

#menu li {
	display: inline;
}

#menu a {
	padding: 0em 2em;
	text-decoration: none;
	font-weight: bold;
	color: #191970;
}

#menu a:hover {
	background: #191970;
	color: #FFFFFF;
}

/** CONTENT */

#content {
	width: 700px;
	margin: 0px auto;
	padding: 2em;
}

#columnA {
	float: none;
	width: 700px;
	text-align: justify;
}

/** FOOTER */

#footer {
	clear: both;
	padding: .3em;
	background: #ADD8E6;
	border-top: 2px solid #191970;
	border-bottom: 2px solid #191970;
	text-align: center;
}

#footer p {
	margin: 0px;
	padding: 1em;
}